In [27]:
import libpysal
import geopandas
import pandas
import copy

In [28]:
points = [(10, 10), (20, 10), (40, 10), (15, 20), (30, 20), (30, 30)]

from libpysal.weights import KNN

wknn2 = KNN.from_array(points, 2)
wknn2.n

6

In [29]:
wknn2.neighbors

{0: [1, 3], 1: [0, 3], 2: [4, 1], 3: [1, 0], 4: [5, 1], 5: [4, 3]}

In [30]:
# create duplicate points
points = [(10, 10), (20, 10), (10,10), (20,10), (40, 10), (15, 20), (30, 20), (30, 30)]

wknn2 = KNN.from_array(points, 2)

In [31]:
wknn2.neighbors

{0: [1, 5],
 1: [0, 5],
 4: [6, 1],
 5: [1, 0],
 6: [7, 1],
 7: [6, 5],
 2: [1, 5],
 3: [0, 5]}

In [32]:
balt = libpysal.examples.load_example('Baltimore')

In [33]:
import geopandas

In [34]:
gdf = geopandas.read_file(balt.get_path("baltim.shp"))

In [35]:
gdf.shape

(211, 18)

In [36]:
w1 = libpysal.weights.KNN.from_dataframe(gdf, k=2)

In [37]:
gdf.head()

,STATION,PRICE,NROOM,DWELL,NBATH,PATIO,FIREPL,AC,BMENT,NSTOR,GAR,AGE,CITCOU,LOTSZ,SQFT,X,Y,geometry
0,1,47.0,4.0,0.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,148.0,0.0,5.70,11.25,907.0,534.0,POINT (907.000 534.000)
1,2,113.0,7.0,1.0,2.5,1.0,1.0,1.0,2.0,2.0,2.0,9.0,1.0,279.51,28.92,922.0,574.0,POINT (922.000 574.000)
2,3,165.0,7.0,1.0,2.5,1.0,1.0,0.0,3.0,2.0,2.0,23.0,1.0,70.64,30.62,920.0,581.0,POINT (920.000 581.000)
3,4,104.3,7.0,1.0,2.5,1.0,1.0,1.0,2.0,2.0,2.0,5.0,1.0,174.63,26.12,923.0,578.0,POINT (923.000 578.000)
4,5,62.5,7.0,1.0,1.5,1.0,1.0,0.0,2.0,2.0,0.0,19.0,1.0,107.80,22.04,918.0,574.0,POINT (918.000 574.000)

In [38]:
gdf1 = gdf.iloc[[0,1,2,3,4]]

In [39]:
gdf2 = pandas.concat([gdf, gdf1, gdf1, gdf1])

In [40]:
gdf2.duplicated()

0    False
1    False
2    False
3    False
4    False
     ...
0     True
1     True
2     True
3     True
4     True
Length: 226, dtype: bool

In [41]:
w2 = libpysal.weights.KNN.from_dataframe(gdf2, k=2)

/home/serge/Dropbox/p/pysal/src/subpackages/libpysal/libpysal/weights/weights.py:172: UserWarning: The weights matrix is not fully connected:
 There are 10 disconnected components.
  warnings.warn(message)

In [42]:
w2.n

226

In [43]:
w1.neighbors[0] == w2.neighbors[0]

True

In [44]:
W1 = w1.full()[0]
W2 = w2.full()[0]

In [45]:
(W1 == W2[:w1.n,:w1.n]).all()

True

In [46]:
W2.shape

(226, 226)

In [47]:
W1.shape

(211, 211)

In [48]:
w2.cardinalities

{0: 2,
 1: 2,
 2: 2,
 3: 2,
 4: 2,
 5: 2,
 6: 2,
 7: 2,
 8: 2,
 9: 2,
 10: 2,
 11: 2,
 12: 2,
 13: 2,
 14: 2,
 15: 2,
 16: 2,
 17: 2,
 18: 2,
 19: 2,
 20: 2,
 21: 2,
 22: 2,
 23: 2,
 24: 2,
 25: 2,
 26: 2,
 27: 2,
 28: 2,
 29: 2,
 30: 2,
 31: 2,
 32: 2,
 33: 2,
 34: 2,
 35: 2,
 36: 2,
 37: 2,
 38: 2,
 39: 2,
 40: 2,
 41: 2,
 42: 2,
 43: 2,
 44: 2,
 45: 2,
 46: 2,
 47: 2,
 48: 2,
 49: 2,
 50: 2,
 51: 2,
 52: 2,
 53: 2,
 54: 2,
 55: 2,
 56: 2,
 57: 2,
 58: 2,
 59: 2,
 60: 2,
 61: 2,
 62: 2,
 63: 2,
 64: 2,
 65: 2,
 66: 2,
 67: 2,
 68: 2,
 69: 2,
 70: 2,
 71: 2,
 72: 2,
 73: 2,
 74: 2,
 75: 2,
 76: 2,
 77: 2,
 78: 2,
 79: 2,
 80: 2,
 81: 2,
 82: 2,
 83: 2,
 84: 2,
 85: 2,
 86: 2,
 87: 2,
 88: 2,
 89: 2,
 90: 2,
 91: 2,
 92: 2,
 93: 2,
 94: 2,
 95: 2,
 96: 2,
 97: 2,
 98: 2,
 99: 2,
 100: 2,
 101: 2,
 102: 2,
 103: 2,
 104: 2,
 105: 2,
 106: 2,
 107: 2,
 108: 2,
 109: 2,
 110: 2,
 111: 2,
 112: 2,
 113: 2,
 114: 2,
 115: 2,
 116: 2,
 117: 2,
 118: 2,
 119: 2,
 120: 2,
 121: 2,
 122: 2,
 123: 2,
 124: 2,
 125: 2,
 126: 2,
 127: 2,
 128: 2,
 129: 2,
 130: 2,
 131: 2,
 132: 2,
 133: 2,
 134: 2,
 135: 2,
 136: 2,
 137: 2,
 138: 2,
 139: 2,
 140: 2,
 141: 2,
 142: 2,
 143: 2,
 144: 2,
 145: 2,
 146: 2,
 147: 2,
 148: 2,
 149: 2,
 150: 2,
 151: 2,
 152: 2,
 153: 2,
 154: 2,
 155: 2,
 156: 2,
 157: 2,
 158: 2,
 159: 2,
 160: 2,
 161: 2,
 162: 2,
 163: 2,
 164: 2,
 165: 2,
 166: 2,
 167: 2,
 168: 2,
 169: 2,
 170: 2,
 171: 2,
 172: 2,
 173: 2,
 174: 2,
 175: 2,
 176: 2,
 177: 2,
 178: 2,
 179: 2,
 180: 2,
 181: 2,
 182: 2,
 183: 2,
 184: 2,
 185: 2,
 186: 2,
 187: 2,
 188: 2,
 189: 2,
 190: 2,
 191: 2,
 192: 2,
 193: 2,
 194: 2,
 195: 2,
 196: 2,
 197: 2,
 198: 2,
 199: 2,
 200: 2,
 201: 2,
 202: 2,
 203: 2,
 204: 2,
 205: 2,
 206: 2,
 207: 2,
 208: 2,
 209: 2,
 210: 2,
 211: 2,
 212: 2,
 213: 2,
 214: 2,
 215: 2,
 216: 2,
 217: 2,
 218: 2,
 219: 2,
 220: 2,
 221: 2,
 222: 2,
 223: 2,
 224: 2,
 225: 2}